// Outline used for build process. Shows layout etc..
* {
    outline: 1px solid red;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

li,
li a {
    text-decoration: none;
    list-style: none;
}