a {
    color: $color__link;
    text-decoration: none;

    &:visited {
        color: $colour__link-visited;
    }

    &:hover,
    &:focus,
    &:active {
        color: $colour__link-hover;
    }
}