// Link Colors
$colour__link: #0000ff;
$colour__link-visited: #800080;
$colour__link-hover: pink;


// Social Media
$facebook: #3b5998;
$twitter: #1da1f2;


// Background Colours
$colour__background-primary: ;
$colour__background-secondary: ;
$colour__background-tertiary: ;

// Brand Colours
$colour__branding-text: ;
$colour__branding-link: ;
$colour__branding-hover: ;
