// Site General
$site__font-header: ;
$site__font-body: ;

$site__max-width: ;



// Branding
$branding__title-font-family: ;
$branding__title-font-size: ;
$branding__title-font-weight: ;
$branding__title-text-transform: uppercase;

$branding__description-font-family: ;
$branding__description-font-size: ;


// Header
$header__




$footer__title-font-family: ;
$footer__title-font-size: ;



// Size
$size__site-main: ;
$size__site-sidebar: ;








// Colours //


$colour__background-primary: ;
$colour__background-secondary: ;
$colour__background-tertiary: ;


// Brand Colours
$colour__branding-text: ;
$colour__branding-link: ;
$colour__branding-link-hover: ;



// Footer Colours
$colour__footer-text: ;
$colour__footer-link: ;
$colour__footer-link-hover: ;



// Social Links
$color__social-twitter: #1bb2e9;
$color__social-facebook: #3b5a9b;
$color__social-instagram: #3f729b;


// Links
$colour__link: ;
$colour__link-visited: ;
$colour__link-hover: ;


